<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MyController">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
<title>WebHosting Control Panel</title>
<link href="dashboard.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angularBase64.js"></script>
<script src="js/angularBasicAuth.js"></script>
<script src="app.js"></script>
</head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WebHosting Control Panel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">{{LoginData.username}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#" ng-click="showUser()">Usuarios</a></li>
            <li><a href="#" ng-click="showDomains()">Dominios</a></li>
            <li><a href="#" ng-click="showEmails()" >E-mails</a></li>
            <li><a href="" ng-click="showDatabases()">Banco de dados</a></li>
            <li><a href="" ng-click="showFtpAccounts()">Contas de FTP</a></li>
             <li><a ng-click="showLogin()" href="#">Login</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
					<user-panel ng-show="userPanel"></user-panel>
					<user-login ng-show="userLogin"></user-login>
					<user-domains ng-show="userDomains"></user-domains>
					<user-emails ng-show="userEmails"></user-emails>
					<user-databases ng-show="userDatabases"></user-databases>
					<user-ftpaccounts ng-show="userFtpAccounts"></user-ftpaccounts>
          </div>

          </div>

        </div>
      </div>
    </div>
  </body>
</html>
