<form class="form-horizontal" ng-controller="userLoginCtrl">
<legend>User Login</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="username">User</label>  
  <div class="col-md-4">
  <input id="username" ng-model="LoginData.username" name="username" type="text" placeholder="UserName" class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="password">Password:</label>
  <div class="col-md-4">
    <input id="password" ng-model="LoginData.password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" ng-click="processLogin()" class="btn btn-primary">Login</button>
  </div>
</div>
</form>
