<div ng-app="app" ng-controller="MyController">
    <form class="well">
        <label>Name</label>
        <input type="text" name="name" ng-model="newdomain.name" />
        <input type="hidden" ng-model="newdomain.id" />        
        <br/>	
        <input type="button" value="Save" ng-click="saveDomain()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>E-Mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="email in emails">
                <td>{{ email.username }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(email.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(email.id)">delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
