
<VirtualHost *:443>
 WSGIScriptAlias / /usr/share/yawep/yawep.wsgi
 WSGIPassAuthorization On

<Directory /usr/share/yawep>
   Require all granted
</Directory>
 ServerAlias www.test1.ispbrasil.com.br
 ServerAlias test1.ispbrasil.com.br

 SSLEngine on
 SSLCertificateFile /etc/letsencrypt/live/test1.ispbrasil.com.br/cert.pem
 SSLCertificateKeyFile /etc/letsencrypt/live/test1.ispbrasil.com.br/privkey.pem
 SSLCertificateChainFile /etc/letsencrypt/live/test1.ispbrasil.com.br/fullchain.pem
</VirtualHost>

