<div ng-app="app" ng-controller="customersCtrl">
    <form class="well">
        <label>Name</label>
        <input type="text" name="name" ng-model="newuser.name" />
        <label>Email</label>
        <input type="text" name="email" ng-model="newuser.email" />
        <label>UserName</label>
        <input type="text" name="phone" ng-model="newuser.username" />
        <input type="hidden" ng-model="newuser.id" />        
        <br/>	

        <input type="button" value="Save" ng-click="saveUser()" class="btn btn-primary" />
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>UserName</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td> <a href="javascript:void(0)" ng-click="edit(user.id)">edit</a> | <a href="javascript:void(0)" ng-click="delete(user.id)">delete</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>
