[Unit]
Description=yawep linux backend mail script
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
ExecStart=/usr/share/yawep/linux-backend/linux-backend-mail.py
Restart=always
TimeoutStartSec=10
RestartSec=10
