<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lista de Usuarios</title>
<script src="includes/angular.min.js"></script>
<script src="includes/angularBase64.js"></script>
<script src="includes/angularBasicAuth.js"></script>
<link rel="stylesheet" href="includes/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="includes/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
<script src="includes/jquery-3.2.1.min.js"></script>
<script src="includes/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="includes/bootbox.min.js"></script>
<script src="includes/example.js"></script>



<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>




<div class="bs-example" ng-app="myApp" ng-controller="customersCtrl">
  <div class="panel-heading"> <a href="cadastro.html">Cadastro de Usuario</a></div>
  <div class="bb-alert alert alert-info" style="display:none;">
        <span>The examples populate this alert with dummy content</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>e-Mail</th>	
		<th> teste</th>
                <th>Excluir</th>
                <th>Editar</th>
		
            </tr>
        </thead>
        <tbody>
			  <tr ng-repeat="x in names">
			    <td>{{x.id}}</td>
			    <td>{{x.email}}</td>
			    <td>{{x.username}}</td>
			    <td><a ng-click="DeleteBox(x.id,$index)"> <span class="label label-danger">Excluir</span> </a></td>
			    <td><a ng-click=""> <span class="label label-success">Editar</span> </a></td>
			  </tr>
        </tbody>
    </table>
</div>

<script>
        $(function () {
            Example.init({
                "selector": ".bb-alert"
            });
        });
</script>

<script>

var app = angular.module('myApp', ['basicAuthModule']);

app.controller('customersCtrl', function($scope, $http, basicAuthService) {
//{ headers: {'Authorization': 'Basic eDp4'}}

   var authData = {username: 'x', password: 'x'};
   
   var successCB = function(response) {
		console.log('ok');
		console.log($scope.names);
   };
   
   var failureCB = function(error) {
      console.log('falhou');
   };
   
   basicAuthService.login('http://127.0.0.1:5000/api/login', authData, successCB, failureCB);


  $http.get("http://127.0.0.1:5000/api/users" )
  .then(function (response) {$scope.names = response.data});

});

  
</script>

</body>
</html>
